<!DOCTYPE html>
<html>
  <head>
    <title>ユーザー作成</title>
    <% include head %>
 	<script>

    	function cancel(){
    		location.href='/'
    		return false;
    	}

    	function create(){
			if (confirm("新規ユーザーを作成します。よろしいですか？")) {
				document.form.submit();
			} else {
				return false;
			}
    	}

		$(function(){
			$('#cancel').click(cancel);
			$('#send').click(create);
		});
    </script>
  </head>
  <body>
   <% include navbar %>
   <% include messages %>
   <div class="container" role="main">
   <form class="form-horizontal" role="form" action="/auth/user" method="post">
    <div class="form-group">
        <label for="username" class="col-sm-2">ユーザーID</label>
        <div class="col-sm-10">
        <input class="form-control" type="text" id="username" name="username" placeholder="ユーザーIDを入力して下さい。"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2">パスワード</label>
        <div class="col-sm-10">
        <input class="form-control" type="password" id="password" name="password" placeholder="パスワードを入力して下さい。"/>
        </div>
    </div>
    <div class="form-group">
        <label for="surname" class="col-sm-2">姓</label>
        <div class="col-sm-10">
        <input class="form-control" type="text" id="surname" name="surname" placeholder="姓を入力して下さい。"/>
        </div>
    </div>
    <div class="form-group">
        <label for="firstname" class="col-sm-2">名</label>
        <div class="col-sm-10">
        <input class="form-control" type="text" id="firstname" name="firstname" placeholder="名前を入力して下さい。"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">ロール</label>
        <div class="col-sm-10 checkbox">
        <% for (var i = 0;i < roles.length;i++){ %>
                <input type="checkbox" id="<%= roles[i].id %>" name="roles[]" value="<%= roles[i].id %>"/><label for="<%= roles[i].id %>"><%= roles[i].desc %></label><br>
        <% } %>
        </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
	  	<button id="cancel" class="btn btn-default">キャンセル</button>
    	<button id="create" class="btn btn-default">作成</button>
    </div>
    </div>
    </form>
	</div>
  </body>
</html>
