<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include head %>
  </head>
  <body role="document">
    <% include navbar %>
    <div class="container" role="main">
    <% include messages %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
